.Window {
  flex: 0 0 calc(50% - 1px);
  height: 100vh;
  background: #ffffff;
  border-radius: 0.6rem;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.fullscreen {
  flex: 0 0 100%;
}

.minimized {
  flex: 0 0 0;
}
